@model List<Item>

<h1>Items</h1>

@if(Model.Count > 0)
{
	<ul>
	@foreach (var item in Model)
	{
		<li><a href="/items/details/@item.Id">@item.Name</a></li>
	}
	</ul>
}
else
{
	<p>No items to display.</p>
}

<p><a href="/items/new">Create New Item</a></p>
